{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
    <title>Hello</title>
  </head>
  <body>
    <h1>Haloo perkenalkan!!</h1>
    <p></p>
    <img
      src="{% static 'home/images/profilepicture.jpg' %}"
      width="430"
      height="600"
      class="center"
    />
    <p></p>
    <h2>Nama: Naufal Sani</h2>
    <h2>NPM: 1906398723</h2>
    <h2>Angkatan: 2020</h2>
    <h2>Tempat Kuliah: Fasilkom UI</h2>
    <h2>Hobi: Mendengarkan musik</h2>
    <h3>
      Haloo!! Kebiasaan yang sering kulakukan adalah meunda pekerjaan T_T Jangan
      diikutin yaw.
    </h3>
  </body>
</html>
