h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: chocolate;
  margin-top: 20;
}
h2 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #0d0d0d;
  margin-top: 10px;
}
h3 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #000000;
  margin-top: 10px;
}
body {
  background-color: rgb(196, 232, 245);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
